@import '_variables'

.TextComponent
  border: 1px dashed #f00

.editor *
  outline: none

.template
  padding : 20px
  border  : 2px solid transparent
  position : relative
  margin-bottom : 20px
  padding-bottom: 70px

  .actions
    display:none
    position : absolute
    bottom : 0
    right: 0
    border : 2px solid transparent
    border-bottom: 0
    border-right: 0

    .fa
      display: inline-block
      padding: 20px
      border-left : 2px solid transparent

  &:hover
    border : 2px solid $orange
    .actions
      display: block
      .fa
        border-left : 2px solid $orange
        border-top : 2px solid $orange
