var secrets = {};

secrets.google = {
	clientID: 'xxx.apps.googleusercontent.com',
  clientSecret: 'xxx',
  callbackURL: "http://localhost:3000/auth/google/callback"
};

secrets.session = {
	secret: 'xxx'
};

module.exports = secrets;
